@import "tailwindcss";
@tailwind utilities;
 /*npm run watch*/
@theme {
  --color-lightbg: #091F1C;
  --color-lightbgaccent: #F4F6F4;
  --color-lighttext: #0A0A0A;
  --color-lightaccent: #132A13;
  --color-lighttextaccent: #766E87;
  --color-lightlink: #312E38;
}